body{
    background-color: black;
    margin: 0px;
    padding: 0px;
    
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}


.section-1{
    background-image: url("image/background\ netflix.jpg");
    background-size: 1920px 720px;
    background-repeat: no-repeat;
    height: 850px;  
    border-bottom: 7px solid rgb(44, 44, 44);
}
.header-1 {
    display: flex;
    height: 80px;
    justify-content: space-between;
    padding: 0% 2.8% 0% 2.8%;
    position: sticky;
    top: 0;
}

.logo{
    height: auto;
    width: 200px;
    margin-top: -5%;
    padding-left: 10px;
}

.sign-in{
    padding: 2.2% 2% 0 0;
}

.button-masuk{
    background-color: rgb(221, 7, 7);
    outline: none;
    border: none;
    color: white;
    padding: 9px 20px;
    border-radius: 4px; 
    font-size: 16px;
}

.text-body-1{
    color: white;
    text-align: center;
    font-size: 20px;
}

.text-body-ke1{
    margin-top: 1px;
    font-size: 50px;
    font-weight: bolder;
}

.body-1{
    margin-top: 6%;
}

.bill-label{
    color: grey;
    font-size: 25px;
    margin-bottom: -1.5%;
}

.section-2{
    display: flex;
    padding: 0 5% 0 5%;
    justify-content: center;
    border-bottom: 7px solid rgb(44, 44, 44);
}

.timeline-bar{
    background: -webkit-gradient(linear, left top, right top, color-stop(10%, #00d65f), color-stop(53%, #308234), color-stop(54%, #3f3f3f), color-stop(85%, #3f3f3f), to(rgba(63, 63, 63, 0)));
    width: 70%;
    height: 40px;
    margin-left: 190px;
    border-radius: 18px;
}

.timeline{
    align-items: center;
    margin-bottom: -18%;
}

.pembatas{
    position: relative;
    top: -42px;
    left: 680px;
}

.bullet-before{
    position: relative;
    top: -150px;
    left: 715px;
}

.bullet-after{
    position: relative;
    top: -255px;
    left: 1150px;
}

.televisi{ 
    background-image: url("image/monkas.png");
    background-size: 320px 200px;
    background-position-x: -45pt;
    background-position-y: 80pt;
    background-repeat: no-repeat;
    transition: 500ms;
    padding-right: 10%;
}


.img-mail{
    width: 50px;
    height: auto;
    padding-top: 25px;
    margin-right: 10px;
}

.mail{
    display: flex;
    position: relative;
    justify-content: center;
    left: 20px;
}

.kami-akan{
    width: 700px;
    position: relative;
    display: flex;
    text-align: center;
    left: 400px;
    margin-bottom: 1%;
}

.huruf-hijau-kecil{
    font-size: 26px;
    color: #00D65F;
    font-weight: 600;
    
}

.huruf-putih-kecil{
    font-size: 26px;
    color: white;
    font-weight: 400;
}

.flex-huruf-kecil{
    display: flex;
    justify-content: space-around;
    width: 1410px;
    margin-bottom: -1.1%;
    
}

.pengingat{
    display: flex;
    justify-content: center;
}

.welcome-button{
    display: flex;
    justify-content: center;
}
.welcome-button button{
    margin-top: 20px;
    width: 482px;
    height: 70px;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    font-size: 30px;
}

.red{
    background-color: #f40612;

}

.transparent{
    background-color: transparent;
    border: 0.5px solid white !important;
}

.img-televisi{
    height: 400px;
}

.televisi:hover{
    background-position-x: 30pt;
}

.arrow{
    display: flex;
    height: 2px;
}

.text-body-2{
    padding-top: 3%;
    background-color: black;
    color: white;
    padding-right: 5%;
    padding-left: 10%;
}

h1 {
    font-size: 50px;
}

h2{
    font-weight: normal;
    word-spacing: 1px;
    line-height: 150%;
}

.button-uji-coba{
    display: flex;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-size: 20px ;
    cursor: pointer;
    padding: 8px 18px;
}